$border-color: black;

header {
    margin: 10px;
    border: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
}

a {
    color: darkcyan;
    cursor: pointer;
    text-decoration: underline;
}

