<app-header></app-header>

<div class="login-page">
  <div class="login-form">

    <div class="login-page-login login-item">
      <label for="login">Login</label>
      <input type="text" id="login" placeholder="Login" [(ngModel)]="login">
    </div>

    <div class="login-page-password login-item">
      <label for="pas">Password</label>
      <input type="text" id="pas" placeholder="Password" [(ngModel)]="password">
    </div>

    <div class="login-page-button login-item">
      <button (click)="onLoginEnter(login, password)">Enter</button>
    </div>

  </div><!-- end of login form -->
</div> <!-- end of login page -->

<app-footer></app-footer>
