<div class="course-list">

  <div 
    *ngIf="courses.length<1; else displayList"
    class="no-data-to-display"
  >
    <p>No data. Fell free to add new course.</p>
  </div>

  <ng-template #displayList>
    <ul>
      <app-course-list-item
        (deleteCourse)="onDeleteMethod($event)"
        *ngFor="let item of courses | sortByPipe | slice:0:5" [course]="item"

      >        <!--  can we use slice pipe here to cut courses array ???-->
      </app-course-list-item>
    </ul>
  </ng-template>

  
</div>




