$border-color: black;
$background-grey: rgb(211, 211, 211);

*{ 
    margin: 0;
    padding: 0;
}

.course-list {
    height: 70vh;
}

ul {
    list-style-type: none;
}

.no-data-to-display {
    margin: 10px;
    padding: 10px;
    border: 1px solid $border-color;
    background-color: $background-grey;
}