$border-color: black;

li {
    margin: 10px;
    border: 1px solid $border-color;
}

.course-list-item {
    display: flex;
    justify-content: space-between;
}

.course-list-item-header {
    display: flex;
    justify-content: space-between;
}


.right-side {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

