$border-color: black;
$background-grey: rgb(211, 211, 211);

li {
    margin: 10px;
    border: 10px solid $border-color;
}

.course-list-item {
    display: flex;
    justify-content: space-between;
}

.course-list-item-header {
    display: flex;
    justify-content: space-between;
}

.left-side{
    width: 100%;
    padding: 5px;
}

.right-side {
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.course-title, .course-time, .course-top-rated {
    padding-right: 10px;
}

.top-rated-border {
    background-color: $background-grey;
}

.course-top-rated-star {
    font-size: 1.3em;
}
