<!-- <li [class.top-rated-border]="course.isTopRated"> -->
<li 
  appCreationDateBorder 
  [createdDate]= "course.date" 
  [ngClass]="{'top-rated-border': course.isTopRated}"
>

  <div class="course-list-item" >
    <div class="left-side">
      <div class="course-list-item-header">
        <div>
          <span class="course-title">"{{course.name | uppercase }}"</span>
          <span class="course-time"> {{course.length | durationPipe }}</span>
          <span class="course-top-rated-star" *ngIf="course.isTopRated">&#9734;</span>
        </div>
        <div>{{course.date | date:"dd/MM/yy"}}</div>
      </div>
      <div class="course-list-item-description">
        <p>{{course.description}}</p>
      </div>

    </div>
    <div class="right-side">
      <button>Edit Course</button>
      <button (click)="onDeleteButton(course.id)">Delete</button>
    </div>
  </div>

</li>